* {
  font-family: Verdana;
}

.products-container{
    margin-inline: 50px;
}

table {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 10px;
  text-align: left;
  margin: 0;
}

tbody tr:nth-child(2n) {
  background-color: #eee;
}

th {
  background-color: #333;
  color: white;
}

.pagination{
    position: fixed;
    top: 510px;
}